<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing the websocket</title>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
     crossorigin="anonymous"></script>
     <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="flex justify-between"> 

    <section class="w-[20vw] h-[100vh] z-20" style="box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.1);">
        <form class="mt-4 h-[50px] flex flex-col justify-center items-center"  action="" hx-trigger="keydown delay:0.01s" hx-post="/search" hx-target="#target" onkeydown="cleanSearchResult()" onsubmit="preventSubmit(event)">
            <input class="rounded-full outline-none px-4 py-2 bg-gray-100" type="search" placeholder="Search for users" name="username" autocomplete="off">
        </form>
        <div class="rounded-lg mt-2 flex flex-col items-center bg-gray-100 mx-2"  id="search-result" hx-swap="beforeend" hx-swap-oob="beforeend">

        </div>

        <div class="w-full h-fit" id="contact-list"  hx-swap="beforeend" hx-swap-oob="beforeend">

            {{range .Contacts}}
            <a class="w-full px-3 py-4 flex items-center justify-start gap-x-4 border-t border-b cursor-pointer hover:bg-gray-100 transition-all" href="http://localhost:8000/web/{{   .ID   }}">
                <div class="w-10 h-10 rounded-full bg-gray-300"></div>
                <div class="relative w-[75%]">
                 <span class="font-bold text-[12px]">{{  .Target_user  }}</span>
                 <br>
                 <span class="font-semibold text-[12px]">Vous: </span> <span class=" text-[12px] font-medium text-gray-500"> how do you know heow</span> <span class="absolute right-0 top-1 text-xs text-gray-500 font-medium">2022-03-2 </span>
         
                </div>
             </a>

            {{end}}

        </div>
    </section>    


    <section class="w-[80vw] h-[100vh]  overflow-x-hidden  relative" id="messaging-section" hx-ext="ws" ws-connect="/web"  >
        <nav class="w-[100%] h-[55px] shadow-md shadow-slate-200  py-1 flex justify-center items-center  left-0 right-0 top-0 bg-white z-10">
            <div>
                {{ .User.Username }} <br>
                <div class="w-[10px] h-[10px] rounded-full bg-green-500 animate-pulse mr-3 inline-block"></div>
                <span class="inner-block text-sm text-gray-700 font-medium">Active</span>
            </div>
        </nav>


        <div class="w-full overflow-y-auto absolute top-[55px] bottom-[60px] py-4 px-4 "  id="messaging-cont" >
            <div class="w-full py-4 px-4 flex flex-col min-h-100% h-fit items-end" id="message-list" hx-swap="beforeend" hx-swap-oob="beforeend">

            </div>
        </div>

           

        <div class="absolute bottom-0 left-0 right-0 h-[60px] bg-white flex items-center justify-center">
                <form class="w-[70%] h-[40px] rounded-full bg-gray-300 py-3 px-4  shadow-md shadow-slate-200 flex justify-between items-center"  onsubmit="updateInput()" ws-send>  
                <input type="text" class="outline-none border-none bg-transparent w-[80%]"  id="message-output" name="message">   
                <button   class="cursor-pointer"  type="submit" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"  viewBox="0 0 16 16">
                    <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471z"/>
                  </svg>
                </form>
            </div>
        </div>

    </section>
    
    <div id="target"></div>
    <script>
     const txtInput = document.getElementById("message-output")
      const textCont= document.getElementById("message-list")
      var scrollableDiv=document.getElementById("messaging-cont");
      scrollableDiv.scrollTop = scrollableDiv.scrollHeight;
      function updateSroll(){
        scrollableDiv.scrollTop = scrollableDiv.scrollHeight;
      }

      function updateInput(){
        var newMessage = document.createElement("div");
        newMessage.className = "px-4 py-2 w-fit max-w-1/2 rounded-l-full rounded-b-full mt-4 text-sm text-gray-700 text-white bg-blue-700";
        newMessage.innerHTML = txtInput.value
        textCont.appendChild(newMessage)
        txtInput.value=""
    }

    function cleanSearchResult(){
        const searchResult =document.getElementById("search-result")
        searchResult.innerHTML=""
    }

    function preventSubmit(event){
        event.preventDefault()
    }

        setTimeout(()=>{
        txtInput.value=""}, 10)
    
    updateSroll()

    function openMessage(e){
        e.classList.toggle("hidden")
    }
    
     </script>
</body>
</html>